<launch>
    <!-- <include file="./pgr_camera.launch"/> -->
    <include file="./uvc_camera.launch"/>
    <node pkg="puzzleboxes" name="center_finder" type="center_finder_node.py">
        <param name="use_compressed_images" type="bool" value="True"/>
        <param name="display_scale" type="double" value="0.4" />
        <param name="threshold" type="int" value="50"/>
        <param name="min_area" type="int" value="5000"/>
        <param name="cmp_margin" type="int" value="30"/>
        <param name="close_kernel_size" type="int" value="0"/>
        <param name="erode_kernel_size" type="int" value="0"/>
        <param name="filter_coeff" type="double" value="0.05"/>
        <param name="center_disp_radius" type="int" value="8"/>
        <param name="center_disp_thickness" type="int" value="2"/>
        <param name="output_file" type="str" value="$(env HOME)/devel/src/centers.yaml"/>
        <param name="mask_file" type="str" value="$(env HOME)/devel/src/mask.npy"/>
        <param name="input_file" type="str" value="$(env HOME)/devel/src/bg_image.npy"/>
    </node>
</launch>
